# HF fast inference
transformers
optimum
einops
auto_gptq
autoawq
tiktoken # for databricks models
hf_transfer # fast transfer of models
# APIs
backoff
openai
mistralai
# path-finder specific
pygtrie
numpy
